<div class='panel-padding panel-bordered'>
	<table class='table table-striped'>
		<tr>
			<th>Topic</th>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Tutor</th>
			<th>Status</th>
		</tr>
		<% @requests.each do |app| %>
			<tr>
				<td><%= app.topic %></td>
				<td><%= app.from.strftime("%H:%M") %></td>
				<td><%= app.to.strftime("%H:%M") %></td>
				<td><%= link_to app.tutor.username, app.tutor.profile %></td>
				<td><span class='label label-<%= app.status %>'><%= app.status %></span></td>
			</tr>
		<% end %>
	</table>
</div>