<% @title = "#{current_user.username}" %>
<div id='profile-container' class='container'>
  <div class='row'>
    <div class='span3'>
      <!-- Profile Card -->
      <div class='user-profile-picture panel-bordered panel-padding panel-margin'>
        <!-- photo -->
        <%= image_tag 'user_icon.png'%>
        <!-- Name -->
        <div id='name'><%= @profile.user.username %></div>
        <!-- Titles  -->
        <div id='degree'><%= @profile.native_language %></div>
        <div id='title'>
          <ul>
            <% current_user.language_skills.each do |skill|  %>
            <li><%= skill.language %> (<%= skill.degree %>)</li>
            <% end %>
          </ul>
        </div>
        <div id='edit'>
          <%= link_to('Edit Profile', edit_profile_path(@profile), class: 'btn btn-mini btn-primary') if current_user==@profile.user%>
        </div>
      </div>
      <div class='side-nav-bar'>
        <ul class='nav nav-list bs-docs-sidenav'>
          <% if @profile == current_user.profile %>
            <li><%= link_to "My Calendar", calendar_profile_path(@profile), remote: true %></li>
            <li><%= link_to "My Appointments", appointments_profile_path(@profile), remote: true %></li>
            <li><%= link_to "My Requests", requests_profile_path(@profile), remote: true %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class='span9'>
      <div id='user-profile-content'>
        <div id='profile-content'>
          <%= render 'calendar' %>
        </div>
      </div>
    </div>
  </div>
</div>



	
